/* 
orange: DB6F4C
yellow: E7C966
blue: 479EAE

purple: F7F7F7
green: 9CD29E
orange: D87339
yellow: EDDE6D
blue: 7FC5C5
teal: 428589
*/
/* expanded
.Measure {
	display: inline-flex;
	flex-direction: row;
	width: 200px;
	height: 100px;
	border: 1px solid #000;
	margin-right: 5px;
}
*/
/* .ready {
	border: 1px solid #000000;
} */

.splitter {
	width: 40px;
	border-bottom: 1px dashed #000;
	margin: 10px auto 10px auto;
}
.expanded .splitter {
	width: 100%;
	
}

.track-details-main {
	display: flex;
	font-size: 12px;
	background-color: #eee;
	color: #000;
	/* margin: 5px; */
	border-radius: 10px;
	padding: 10px;
}

.track-details__bpm {
	display: flex;
	flex-direction: column;
	/* flex: 0; */
}

.tinyText {
	font-size: 10px;
}
