input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 150px;
    padding: 0 5px;
	background: transparent;
	outline: none;
}

.VerticalRange {
	display: flex;
	flex-direction: column;
	width: 30px;
}
.VerticalRange>label {
	font-size: 9px;
	transform: rotate(270deg);
	height: 80px;
	width: 80px;
	text-align: right;
}
.VerticalRange>label>p {
	padding: 0px;
	margin: 0px;
}

/* Modal */

.modal-wrapper {
	background-color: rgba(0,0,0,0.4);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.inner-modal {
	margin: 50px auto;
	background: #fff;
	width: 50%;
	height: 50%;
	z-index: 5;
}